<% include('../layouts/header.ejs') %>
    <div id="screen">
        <h1>User Registration form</h1>
        <form class="inner-div" action="" method="post">
            <input class="inputField" type="text" name="username" placeholder="Enter your username" /><br /><br />
            <input class="inputField" type="email" name="email" placeholder="Enter your email" /><br /><br />
            <input class="inputField" type="password" name="password" placeholder="Enter your password" /><br /><br />
            <input class="inputField" type="password" name="confirmPassword" placeholder="Confirm your password" /><br /><br />
            <input type="submit" value="register" />
        </form>
    </div>
<% include('../layouts/footer.ejs') %>